.products-container {
    width: 80%;
    margin: auto;
    padding-top: 30px;

    .card-content {
        padding: 3%;
        margin: 3%;

        .prod-name {
            margin-bottom: 10px;
        }

        p {
            opacity: .6;
            padding-bottom: 20px;
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}