.cart-container {
    width: 60%;
    margin: auto;
    padding-top: 30px;

    .card-content {
        padding: 2%;
        margin: 1%;

        .prod-name {
            margin-bottom: 10px;
        }

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .quantity {
                max-width: 10%;
            }
        }
    }

    .cart-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .payment-container {
        margin-top: 60px;
    }
}