<div class="cart-container">
  <div class="row">
    <div class="col-12" *ngFor="let prod of cartItems; let i = index">
      <mat-card class="card-content">
        <div>
          <span class="prod-name"><strong>{{prod.name}}</strong></span>

          <span>{{prod.price}} €</span>
          <span class="quantity">
            <input type="number" id="typeNumber" class="form-control" [value]="prod.quantity" min="1"
              (input)="changeQuantity($event, prod)" />

          </span>
        </div>
      </mat-card>
    </div>
    <div class="col-12">
      <mat-card class="card-content">
        <!-- <label class="form-label" for="typeNumber">Totale</label> -->
        <div class="cart-total">
          <span>{{total}} €</span>
          <span>
            <button mat-raised-button color="primary" (click)="showPayment()">
              Vai al pagamento
            </button>
          </span>
        </div>
      </mat-card>
    </div>
  </div>

  <div *ngIf="showPaymentArea" class="payment-container">
    <h3>Seleziona metodo di pagamento</h3>
    <mat-tab-group>
      <mat-tab label="Carta di credito">
        <div class="form-card">
          <span>Nessun costo aggiuntivo {{total}} €</span>
          <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <label for="cardNumber">Numero della carta:</label>
            <input id="cardNumber" type="text" formControlName="cardNumber" placeholder="1234 5678 9012 3456"
              maxlength="16">

            <div>
              <label for="cvc">CVC:</label>
              <input id="cvc" type="text" formControlName="cvc" placeholder="CVC" maxlength="3">
            </div>

            <button mat-raised-button color="primary">
              Paga
            </button>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Paga alla consegna">
        <div class="delivery-container">
          <span>Totale + consegna {{total + 10}} €</span>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>